iframe.boundary-default-iframe {
	-webkit-animation-delay: initial; 
	-webkit-animation-direction: initial; 
	-webkit-animation-duration: initial; 
	-webkit-animation-fill-mode: initial; 
	-webkit-animation-iteration-count: initial; 
	-webkit-animation-name: initial; 
	-webkit-animation-play-state: initial; 
	-webkit-animation-timing-function: initial; 
	-webkit-app-region: initial; 
	-webkit-appearance: initial; 
	-webkit-backface-visibility: initial; 
	-webkit-background-clip: initial; 
	-webkit-background-composite: initial; 
	-webkit-background-origin: initial; 
	-webkit-background-size: initial; 
	-webkit-border-fit: initial; 
	-webkit-border-horizontal-spacing: initial; 
	-webkit-border-image: initial; 
	-webkit-border-vertical-spacing: initial; 
	-webkit-box-align: initial; 
	-webkit-box-decoration-break: initial; 
	-webkit-box-direction: initial; 
	-webkit-box-flex: initial; 
	-webkit-box-flex-group: initial; 
	-webkit-box-lines: initial; 
	-webkit-box-ordinal-group: initial; 
	-webkit-box-orient: initial; 
	-webkit-box-pack: initial; 
	-webkit-box-reflect: initial; 
	-webkit-box-shadow: initial; 
	-webkit-clip-path: initial; 
	-webkit-column-break-after: initial; 
	-webkit-column-break-before: initial; 
	-webkit-column-break-inside: initial; 
	-webkit-column-count: initial; 
	-webkit-column-gap: initial; 
	-webkit-column-rule-color: initial; 
	-webkit-column-rule-style: initial; 
	-webkit-column-rule-width: initial; 
	-webkit-column-span: initial; 
	-webkit-column-width: initial; 
	-webkit-filter: initial; 
	-webkit-font-smoothing: initial; 
	-webkit-highlight: initial; 
	-webkit-hyphenate-character: initial; 
	-webkit-line-box-contain: initial; 
	-webkit-line-break: initial; 
	-webkit-line-clamp: initial; 
	-webkit-locale: initial; 
	-webkit-margin-after-collapse: initial; 
	-webkit-margin-before-collapse: initial; 
	-webkit-mask-box-image: initial; 
	-webkit-mask-box-image-outset: initial; 
	-webkit-mask-box-image-repeat: initial; 
	-webkit-mask-box-image-slice: initial; 
	-webkit-mask-box-image-source: initial; 
	-webkit-mask-box-image-width: initial; 
	-webkit-mask-clip: initial; 
	-webkit-mask-composite: initial; 
	-webkit-mask-image: initial; 
	-webkit-mask-origin: initial; 
	-webkit-mask-position: initial; 
	-webkit-mask-repeat: initial; 
	-webkit-mask-size: initial; 
	-webkit-perspective: initial; 
	-webkit-perspective-origin: initial; 
	-webkit-print-color-adjust: initial; 
	-webkit-rtl-ordering: initial; 
	-webkit-tap-highlight-color: initial; 
	-webkit-text-combine: initial; 
	-webkit-text-decorations-in-effect: initial; 
	-webkit-text-emphasis-color: initial; 
	-webkit-text-emphasis-position: initial; 
	-webkit-text-emphasis-style: initial; 
	-webkit-text-fill-color: initial; 
	-webkit-text-orientation: initial; 
	-webkit-text-security: initial; 
	-webkit-text-stroke-color: initial; 
	-webkit-text-stroke-width: initial; 
	-webkit-transform: initial; 
	-webkit-transform-origin: initial; 
	-webkit-transform-style: initial; 
	-webkit-transition-delay: initial; 
	-webkit-transition-duration: initial; 
	-webkit-transition-property: initial; 
	-webkit-transition-timing-function: initial; 
	-webkit-user-drag: initial; 
	-webkit-user-modify: initial; 
	-webkit-user-select: initial; 
	-webkit-writing-mode: initial; 
	align-content: initial; 
	align-items: initial; 
	align-self: initial; 
	alignment-baseline: initial; 
	backface-visibility: initial; 
	background-attachment: initial; 
	background-blend-mode: initial; 
	background-clip: initial; 
	background-color: initial; 
	background-image: initial; 
	background-origin: initial; 
	background-position: initial; 
	background-repeat: initial; 
	background-size: initial; 
	baseline-shift: initial; 
	border-bottom-color: initial; 
	border-bottom-left-radius: initial; 
	border-bottom-right-radius: initial; 
	border-bottom-style: initial; 
	border-bottom-width: initial; 
	border-collapse: initial; 
	border-image-outset: initial; 
	border-image-repeat: initial; 
	border-image-slice: initial; 
	border-image-source: initial; 
	border-image-width: initial; 
	border-left-color: initial; 
	border-left-style: initial; 
	border-left-width: initial; 
	border-right-color: initial; 
	border-right-style: initial; 
	border-right-width: initial; 
	border-top-color: initial; 
	border-top-left-radius: initial; 
	border-top-right-radius: initial; 
	border-top-style: initial; 
	border-top-width: initial; 
	bottom: initial; 
	box-shadow: initial; 
	box-sizing: initial; 
	buffered-rendering: initial; 
	caption-side: initial; 
	clear: initial; 
	clip: initial; 
	clip-path: initial; 
	clip-rule: initial; 
	color: initial; 
	color-interpolation: initial; 
	color-interpolation-filters: initial; 
	color-rendering: initial; 
	cursor: initial; 
	direction: initial; 
	display: initial; 
	dominant-baseline: initial; 
	empty-cells: initial; 
	fill: initial; 
	fill-opacity: initial; 
	fill-rule: initial; 
	filter: initial; 
	flex-basis: initial; 
	flex-direction: initial; 
	flex-grow: initial; 
	flex-shrink: initial; 
	flex-wrap: initial; 
	float: initial; 
	flood-color: initial; 
	flood-opacity: initial; 
	font-family: initial; 
	font-kerning: initial; 
	font-size: initial; 
	font-stretch: initial; 
	font-style: initial; 
	font-variant: initial; 
	font-variant-ligatures: initial; 
	font-weight: initial; 
	glyph-orientation-horizontal: initial; 
	glyph-orientation-vertical: initial; 
	height: initial; 
	image-rendering: initial; 
	justify-content: initial; 
	left: initial; 
	letter-spacing: initial; 
	lighting-color: initial; 
	line-height: initial; 
	list-style-image: initial; 
	list-style-position: initial; 
	list-style-type: initial; 
	margin-bottom: initial; 
	margin-left: initial; 
	margin-right: initial; 
	margin-top: initial; 
	marker-end: initial; 
	marker-mid: initial; 
	marker-start: initial; 
	mask: initial; 
	mask-type: initial; 
	max-height: initial; 
	max-width: initial; 
	min-height: initial; 
	min-width: initial; 
	object-fit: initial; 
	object-position: initial; 
	opacity: initial; 
	order: initial; 
	orphans: initial; 
	outline-color: initial; 
	outline-offset: initial; 
	outline-style: initial; 
	outline-width: initial; 
	overflow-wrap: initial; 
	overflow-x: initial; 
	overflow-y: initial; 
	padding-bottom: initial; 
	padding-left: initial; 
	padding-right: initial; 
	padding-top: initial; 
	page-break-after: initial; 
	page-break-before: initial; 
	page-break-inside: initial; 
	paint-order: initial; 
	perspective: initial; 
	perspective-origin: initial; 
	pointer-events: initial; 
	position: initial; 
	resize: initial; 
	right: initial; 
	shape-image-threshold: initial; 
	shape-margin: initial; 
	shape-outside: initial; 
	shape-rendering: initial; 
	speak: initial; 
	stop-color: initial; 
	stop-opacity: initial; 
	stroke: initial; 
	stroke-dasharray: initial; 
	stroke-dashoffset: initial; 
	stroke-linecap: initial; 
	stroke-linejoin: initial; 
	stroke-miterlimit: initial; 
	stroke-opacity: initial; 
	stroke-width: initial; 
	tab-size: initial; 
	table-layout: initial; 
	text-align: initial; 
	text-anchor: initial; 
	text-decoration: initial; 
	text-indent: initial; 
	text-overflow: initial; 
	text-rendering: initial; 
	text-shadow: initial; 
	text-transform: initial; 
	top: initial; 
	touch-action: initial; 
	transform: initial; 
	transform-origin: initial; 
	transform-style: initial; 
	transition-delay: initial; 
	transition-duration: initial; 
	transition-property: initial; 
	transition-timing-function: initial; 
	unicode-bidi: initial; 
	vector-effect: initial; 
	vertical-align: initial; 
	visibility: initial; 
	white-space: initial; 
	widows: initial; 
	width: initial; 
	will-change: initial; 
	word-break: initial; 
	word-spacing: initial; 
	word-wrap: initial; 
	writing-mode: initial; 
	z-index: initial; 
	zoom: initial;
	border: none;
}